
<nav class="navbar navbar-default navbar-fixed-top">
    
    <div class="container">
        <div class="navbar-header">
		    <a  id="navbar" class="nav navbar-nav navbar-left" href="home"><h1><span class="fa fa-flash" 
			aria-hidden="true"></span>Flash Couriers</h1></a>

		  	<button type="button" class="navbar-toggle collapsed" 
				  data-toggle="collapse" data-target="#navbar" aria-expanded="false" 
				  aria-controls="navbar">
			   	<span class="sr-only">Toggle navigation</span>
			  	<span class="icon-bar"></span>
			   	<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			
        </div>
        
        
     <div id="navbar" class="navbar-collapse collapse">
			    <ul class="nav navbar-nav navbar-right">
				<li><a href="home">Home</a></li>
				<li class="active"><a href="about">About</a></li>
				<li><a href="service">Services</a></li>
				<li><a href="work">Our Work</a></li>
				<li><a href="process">Process</a></li>
				<li><a href="contact">Contact</a></li>
				
				<li>
					<a href="login"> Login </a>
					
				</li>
			</ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<section class="banner-w3ls">
	<div class='header'>
		<div class="banner-w3layouts">
			<div class="container">
			    <img src="../assets/images/banner1-2.jpg" alt="" class="img-responsive">
			</div>
		</div>
	</div>
</section>

<section class="inner-w3ls">
	<div class="container">
		<h2 class="text-center w3 w3l agileinfo wthree">About Us </h2>
	</div>
</section>

<section class="about-w3ls">
	<div class="container">
        <!-- Intro Content -->
        <div class="row">
            <div class="col-lg-12">
				<i class="fa fa-braille" aria-hidden="true"></i>
                <h3 class="text-center">About Our Business</h3>
						<br><br>
                <p>Ever wondered how convenient it would have been if you could send across priceless treasures to your loved ones from the comforts of your home!</p>
<p>We are pleased to introduce you to our site - India's leading online courier booking portal which is conceptualized in providing express courier delivery just at the click of a button!!!</p>

<p>Seems like a dream come true right!</p>

<p>We render our expertise in imparting Rapid, Cost effective, Reliable and Time-definite delivery of parcels across different locations all over India.</p>

<p>We strive to achieve the highest level of Customer Satisfaction possible. Our cutting edge technologies, highly reliable logistics and state of the art customer service enables us to provide the fastest and the most reliable door to door transit times in the industry.</p>
<br>
<br>
            </div>
        </div>
        <!-- /.row -->
	</div>
</section>	

<section class="team-w3ls">
	<div class="container">
		<i class="fa fa-trophy" aria-hidden="true"></i>
		<h3 class="text-center w3-agileits agileits-w3layouts agile w3-agile">Our Team</h3>
		<p class="text-center w3-agileits agileits-w3layouts agile w3-agile">We have an excellent team to keep up to our users expectations.</p>
     
            <div class="col-md-4 col-sm-4 col-xs-6 text-center">
                <div class="thumbnail">
				
						<div>
							<figure><img class="img-responsive" src="../assets/images/me.jpg" alt="w3ls"></figure>
						</div>
							
                    <div class="caption">
                        <h4>Granthy Desai</h4>
                        <p class="team-p1">Founder</p>
						<ul class="social-icons1">
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
							<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
						</ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-6 text-center">
                <div class="thumbnail">
                    
						<div>
							<figure><img class="img-responsive" src="../assets/images/viv.jpeg" alt="w3ls"></figure>
						</div>
						
                    <div class="caption">
                        <h4>Vivek Gamit</h4>
                        <p class="team-p1">Founder</p>
						<ul class="social-icons1">
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
							<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
						</ul>
                    </div>
                </div>
            </div>
          
        <div class="clearfix"></div>
	</div>
</section>
<section class="cust-agileits">
	<div class="container">
		<i class="fa fa-smile-o" aria-hidden="true"></i>
		<h3 class="text-center">Our Happy Customers</h3>
		<p class="text-center">We have gone on record to keep our customers happy and satisfied.</p>	
        <!-- Our Customers -->	
       
            <div class="col-md-2 col-sm-4 col-xs-6 cust-w3ls">
				<div class="hover01 column">
					<div>
						<figure><img class="img-responsive customer-img" src="../assets/images/cust-img1.jpg" alt="w3ls"></figure>
					</div>
				</div>	
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 cust-w3ls">
                <div class="hover01 column">
					<div>
						<figure><img class="img-responsive customer-img" src="../assets/images/cust-img2.jpg" alt="w3ls"></figure>
					</div>
				</div>
            </div>
			 <div class="col-md-2 col-sm-4 col-xs-6 cust-w3ls">
                <div class="hover01 column">
					<div>
						<figure><img class="img-responsive customer-img" src="../assets/images/team1.jpg" alt="w3ls"></figure>
					</div>
				</div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 cust-w3ls">
                <div class="hover01 column">
					<div>
						<figure><img class="img-responsive customer-img" src="../assets/images/cust-img3.jpg" alt="w3ls"></figure>
					</div>
				</div>
            </div>
			 <div class="col-md-2 col-sm-4 col-xs-6 cust-w3ls">
                <div class="hover01 column">
					<div>
						<figure><img class="img-responsive customer-img" src="../assets/images/team2.jpg" alt="w3ls"></figure>
					</div>
				</div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 cust-w3ls">
                <div class="hover01 column">
					<div>
						<figure><img class="img-responsive customer-img" src="../assets/images/cust-img4.jpg" alt="w3ls"></figure>
					</div>
				</div>
            </div>
			 <div class="col-md-2 col-sm-4 col-xs-6 cust-w3ls">
                <div class="hover01 column">
					<div>
						<figure><img class="img-responsive customer-img" src="../assets/images/team3.jpg" alt="w3ls"></figure>
					</div>
				</div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 cust-w3ls">
                <div class="hover01 column">
					<div>
						<figure><img class="img-responsive customer-img" src="../assets/images/cust-img5.jpg" alt="w3ls"></figure>
					</div>
				</div>
            </div>
			 <div class="col-md-2 col-sm-4 col-xs-6 cust-w3ls">
                <div class="hover01 column">
					<div>
						<figure><img class="img-responsive customer-img" src="../assets/images/team4.jpg" alt="w3ls"></figure>
					</div>
				</div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 cust-w3ls">
                <div class="hover01 column">
					<div>
						<figure><img class="img-responsive customer-img" src="../assets/images/cust-img6.jpg" alt="w3ls"></figure>
					</div>
				</div>
            </div>
			 <div class="col-md-2 col-sm-4 col-xs-6 cust-w3ls">
                <div class="hover01 column">
					<div>
						<figure><img class="img-responsive customer-img" src="../assets/images/team5.jpg" alt="w3ls"></figure>
					</div>
				</div>
            </div>
			<div class="clearfix"></div>
	</div>
</section>


 <!--footr section  -->
<section class="footer-agileits">
  <div class="container">
		<div class="col-lg-3 col-md-3 col-sm-6">
			<h3>More Info</h3>
			<ul class="info-links">
				<li><a href="about"><i class="fa fa-hand-o-right" aria-hidden="true"></i> About Us</a></li>
				<li><a href="contact"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Contact Us</a></li>
				
			</ul>
	  </div>
  
    <div class="col-lg-3 col-md-3 col-sm-6">
			<h3>Our Links</h3>
			<ul class="footer-links">
				<li><a href="service"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Our Services</a></li>
				<li><a href="work"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Our Work</a></li>
				<li><a href="process"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Process</a></li>
			</ul>
		</div>

    <div class="col-lg-3 col-md-3 col-sm-6">
			<h3>Contact Info</h3>
		
      	<div class="contact-info">
			  	<div class="address">	
					<i class="glyphicon glyphicon-globe"></i>
					<p class="p3">Dharmsinh Desai University</p>
					<p class="p4">Gujarat, India</p>
			  	</div>
				
          <div class="phone">
					 <i class="glyphicon glyphicon-phone-alt"></i>
					 <p class="p3">+91 8238108152</p>
					 <p class="p4">+91 9106671688</p>
				  </div>
				
          <div class="email-info">
					 <i class="glyphicon glyphicon-envelope"></i>
					 <p class="p5"><a href="mailto:myemail1@example.com">granthydesai@gmail.com</a></p> 
					 <p class="p6"><a href="mailto:myemail2@example.com">vivekgamit2233@gmail.com</a></p>
				  </div>
		</div>
	</div>  

    <div class="col-lg-3 col-md-3 col-sm-6">
			<h3>Subscribe Us</h3>
		 
      	<div class="subscribe">
			   <form action="#" method="post">
			 	
        	<div class="form-group">
						<input type="email" name="email2" class="form-control" id="inputEmail1" placeholder="Email">
					</div>
				
        	<div class="form-group">
						<input type="text" name="user" class="form-control" id="text1" placeholder="Your Name">
					</div>
				
        	<div class="form-group">
						<button type="submit" class="btn-outline">Subscribe</button>
					</div>
				
         </form>
			  </div>	
		    	<ul class="social-icons2">
				   <li><a href="#"><i class="fa fa-facebook"></i></a></li>
				   <li><a href="#"><i class="fa fa-twitter"></i></a></li>
				   <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
				   <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
			    </ul>
		</div>  
<a href="#0" class="cd-top">Top</a>
 
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/SmoothScroll.min.js"></script>
<script src="js/index.js"></script>
<script src="js/top.js"></script>

