<nav class="navbar navbar-default navbar-fixed-top">
    
    <div class="container">
        <div class="navbar-header">
		    <a  id="navbar" class="nav navbar-nav navbar-left" href="home"><h1><span class="fa fa-flash" 
			aria-hidden="true"></span>Flash Couriers</h1></a>

		  	<button type="button" class="navbar-toggle collapsed" 
				  data-toggle="collapse" data-target="#navbar" aria-expanded="false" 
				  aria-controls="navbar">
			   	<span class="sr-only">Toggle navigation</span>
			  	<span class="icon-bar"></span>
			   	<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			
        </div>
        
        
     <div id="navbar" class="navbar-collapse collapse">
			    <ul class="nav navbar-nav navbar-right">
				<li><a href="home">Home</a></li>
				<li><a href="about">About</a></li>
				<li><a href="service">Services</a></li>
				<li><a href="work">Our Work</a></li>
				<li class="active"><a href="process">Process</a></li>
				<li><a href="contact">Contact</a></li>
				
				<li>
					<a href="login"> Login </a>
					
				</li>
			</ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>


<section class="inner-w3ls">
	<div class="container">
		<h2 class="text-center w3layouts w3 w3l agileits agileinfo">Track Your Product</h2>
	</div>
</section>


<section class="shipment-w3ls">
	<div class="container">
		<i class="fa fa-braille" aria-hidden="true"></i>
		<h3 class="text-center wthree w3-agileits agileits-w3layouts agile w3-agile">Shipment Track</h3>
		<p class="text-center wthree w3-agileits agileits-w3layouts agile w3-agile">Giving you a hassle free experience by giving the facility of live tracking.</p>
	</div>
	<div class="container">
		<div class="content-w3ls">	
			<div class="content1-w3ls">
				<h2>Order Tracking: Order No</h2>
			</div>
			<div class="content2-w3ls">
				<div class="content2-header1">
					<p>Shipped Via : <span>Mumbai</span></p>
				</div>
				<div class="content2-header1">
					<p>Status : <span>Checking Quality</span></p>	
				</div>
				<div class="content2-header1">
					<p>Expected Date : <span>7-NOV-2019</span></p>
				</div>
				<div class="clear"></div>
			</div>
			<div class="content3-w3ls">
				<div class="shipment">
					<div class="confirm">
						<div class="imgcircle">
							<img src="../assets/images/confirm.png" alt="confirm order">
						</div>
						<span class="line"></span>
						<p>Confirmed Order</p>
					</div>
					<div class="process">
						<div class="imgcircle">
							<img src="../assets/images/process.png" alt="process order">
						</div>
						<span class="line"></span>
						<p>Processing Order</p>
					</div>
					<div class="quality">
						<div class="imgcircle">
							<img src="../assets/images/quality.png" alt="quality check">
						</div>
						<span class="line"></span>
						<p>Quality Check</p>
					</div>
					<div class="dispatch">
						<div class="imgcircle">
							<img src="../assets/images/dispatch.png" alt="dispatch product">
						</div>
						<span class="line"></span>
						<p>Dispatched Item</p>
					</div>
					<div class="delivery">
						<div class="imgcircle">
							<img src="../assets/images/delivery.png" alt="delivery">
						</div>
						<p>Product Delivered</p>
					</div>
					<div class="clear"></div>
				</div>
			</div>
		</div>
	</div>	
</section>	
<!-- /tracking section -->
<!-- transit section -->
<section class="transit-w3ls">
	<div class="container">
		<i class="fa fa-trophy" aria-hidden="true"></i>
		<h3 class="text-center">Transit Location</h3>
	</div>
	<div class="container">
		<div class="colorful-tab-wrapper" id="colorful-flatline">
			<ul class="colorful-tab-menu">
				<li class="colorful-tab-menu-item active" tab-color="#445370"><a href="#fl-0">INDIA</a></li>
				<li class="colorful-tab-menu-item" tab-color="#00A566"><a href="#fl-1">USA</a></li>
				<li class="colorful-tab-menu-item" tab-color="#C9003C"><a href="#fl-2">Australia</a></li>
				<li class="colorful-tab-menu-item" tab-color="#E54400"><a href="#fl-3">France</a></li>
				<li class="colorful-tab-menu-item" tab-color="#33accc"><a href="#fl-4">England</a></li>
			</ul>
			<div class="colorful-tab-container">  
				<div class="colorful-tab-content active" id="fl-0"> 
					<div class="skill-info">
						<div class="table-responsive">
							<table class="table">
								<thead>
									<tr>
										<th>Location</th>
										<th>Taking Order</th>
										<th>Processing</th>
										<th>Dispatched</th>
										<th>In-Transit</th>
										<th>Delivered</th>
									</tr>
								</thead>
								<tbody>
								
									<tr>
										<td>
											<img src="../assets/images/india.png" alt="w3ls" class="img-responsive">
											<h4>Gujarat</h4>
											<div class="clearfix"></div>
										</td>
										<td>Done</td>
										<td>Done</td>
										<td>Pending</td>
										<td>Pending</td>
										<td>Pending</td>
									</tr>
									<tr>
										<td>
											<img src="../assets/images/india.png" alt="w3ls" class="img-responsive">
											<h4>Mumbai</h4>
											<div class="clearfix"></div>
										</td>
										<td>Done</td>
										<td>Done</td>
										<td>Done</td>
										<td>Done</td>
										<td>Done</td>
									</tr>
									<tr>
										<td>
											<img src="../assets/images/india.png" alt="w3ls" class="img-responsive">
											<h4>Delhi</h4>
											<div class="clearfix"></div>
										</td>
										<td>Done</td>
										<td>Pending</td>
										<td>Pending</td>
										<td>Pending</td>
										<td>Pending</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="colorful-tab-content" id="fl-1">
					<div class="skill-info">	
						<div class="table-responsive">
							<table class="table">
								<thead>
									<tr>
										<th>Location</th>
										<th>Taking Order</th>
										<th>Processing</th>
										<th>Dispatched</th>
										<th>In-Transit</th>
										<th>Delivered</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>
											<img src="../assets/images/usa.png" alt="w3ls" class="img-responsive">
											<h4>Pennsylvania</h4>
											<div class="clearfix"></div>	
										</td>
										<td>Done</td>
										<td>Done</td>
										<td>Done</td>
										<td>Done</td>
										<td>Done</td>
									</tr>
									<tr>
										<td>
											<img src="../assets/images/usa.png" alt="w3ls" class="img-responsive">
											<h4>Indianapolis</h4>
											<div class="clearfix"></div>
										</td>
										<td>Done</td>
										<td>Done</td>
										<td>Done</td>
										<td>Pending</td>
										<td>Pending</td>
									</tr>
									
								</tbody>
							</table>
						</div>
					</div>	
				</div>
				<div class="colorful-tab-content" id="fl-2"> 
					<div class="skill-info">
						<div class="table-responsive">
							<table class="table">
								<thead>
									<tr>
										<th>Location</th>
										<th>Taking Order</th>
										<th>Processing</th>
										<th>Dispatched</th>
										<th>In-Transit</th>
										<th>Delivered</th>
									</tr>
								</thead>
								<tbody>
									<th>
										
									</th>
							
									<tr>
										<td>
											<img src="../assets/images/australia.png" alt="w3ls" class="img-responsive">
											<h4>Sydney</h4>
											<div class="clearfix"></div>
										</td>
										<td>Done</td>
										<td>Done</td>
										<td>Pending</td>
										<td>Pending</td>
										<td>Pending</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>	
				</div>
				<div class="colorful-tab-content" id="fl-3"> 
					<div class="skill-info">
						<div class="table-responsive">
							<table class="table">
								<thead>
									<tr>
										<th>Location</th>
										<th>Taking Order</th>
										<th>Processing</th>
										<th>Dispatched</th>
										<th>In-Transit</th>
										<th>Delivered</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>
											<img src="../assets/images/france.png" alt="w3ls" class="img-responsive">
											<h4>Paris</h4>
											<div class="clearfix"></div>
										</td>
										<td>Done</td>
										<td>Done</td>
										<td>Done</td>
										<td>Done</td>
										<td>Done</td>
									</tr>
									
							
									<tr>
										<td>
											<img src="../assets/images/france.png" alt="w3ls" class="img-responsive">
											<h4>Lille</h4>
											<div class="clearfix"></div>
										</td>
										<td>Done</td>
										<td>Done</td>
										<td>Pending</td>
										<td>Pending</td>
										<td>Pending</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>	
				</div>
				<div class="colorful-tab-content" id="fl-4"> 
					<div class="skill-info">
						<div class="table-responsive">
							<table class="table">
								<thead>
									<tr>
										<th>Location</th>
										<th>Taking Order</th>
										<th>Processing</th>
										<th>Dispatched</th>
										<th>In-Transit</th>
										<th>Delivered</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>
											<img src="../assets/images/uk.png" alt="w3ls" class="img-responsive">
											<h4>London</h4>
											<div class="clearfix"></div>
										</td>
										<td>Done</td>
										<td>Done</td>
										<td>Done</td>
										<td>Pending</td>
										<td>Pending</td>
									</tr>
									
									<tr>
										<td>
											<img src="../assets/images/uk.png" alt="w3ls" class="img-responsive">
											<h4>Manchester</h4>
											<div class="clearfix"></div>
										</td>
										<td>Done</td>
										<td>Done</td>
										<td>Done</td>
										<td>Pending</td>
										<td>Pending</td>
									</tr>
								
								</tbody>
							</table>
						</div>
					</div>	
				</div>
			</div>
		</div>
  <!-- Flatline -->
	</div>
</section>


<!--footr section  -->
<section class="footer-agileits">
  <div class="container">
		<div class="col-lg-3 col-md-3 col-sm-6">
			<h3>More Info</h3>
			<ul class="info-links">
				<li><a href="about"><i class="fa fa-hand-o-right" aria-hidden="true"></i> About Us</a></li>
				<li><a href="contact"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Contact Us</a></li>
				
			</ul>
	  </div>
  
    <div class="col-lg-3 col-md-3 col-sm-6">
			<h3>Our Links</h3>
			<ul class="footer-links">
				<li><a href="service"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Our Services</a></li>
				<li><a href="work"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Our Work</a></li>
				<li><a href="process"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Process</a></li>
			</ul>
		</div>

    <div class="col-lg-3 col-md-3 col-sm-6">
			<h3>Contact Info</h3>
		
      	<div class="contact-info">
			  	<div class="address">	
					<i class="glyphicon glyphicon-globe"></i>
					<p class="p3">Dharmsinh Desai University</p>
					<p class="p4">Gujarat, India</p>
			  	</div>
				
          <div class="phone">
					 <i class="glyphicon glyphicon-phone-alt"></i>
					 <p class="p3">+91 8238108152</p>
					 <p class="p4">+91 9106671688</p>
				  </div>
				
          <div class="email-info">
					 <i class="glyphicon glyphicon-envelope"></i>
					 <p class="p5"><a href="mailto:myemail1@example.com">granthydesai@gmail.com</a></p> 
					 <p class="p6"><a href="mailto:myemail2@example.com">vivekgamit2233@gmail.com</a></p>
				  </div>
		</div>
	</div>  

    <div class="col-lg-3 col-md-3 col-sm-6">
			<h3>Subscribe Us</h3>
		 
      	<div class="subscribe">
			   <form action="#" method="post">
			 	
        	<div class="form-group">
						<input type="email" name="email2" class="form-control" id="inputEmail1" placeholder="Email">
					</div>
				
        	<div class="form-group">
						<input type="text" name="user" class="form-control" id="text1" placeholder="Your Name">
					</div>
				
        	<div class="form-group">
						<button type="submit" class="btn-outline">Subscribe</button>
					</div>
				
         </form>
			  </div>	
		    	<ul class="social-icons2">
				   <li><a href="#"><i class="fa fa-facebook"></i></a></li>
				   <li><a href="#"><i class="fa fa-twitter"></i></a></li>
				   <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
				   <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
			    </ul>
		</div>  

<a href="#0" class="cd-top">Top</a>

<script src="../assets/js/jquery.min.js"></script>
<script src="../assets/js/bootstrap.min.js"></script>
<script src="../assets/js/SmoothScroll.min.js"></script>
<script src="../assets/js/index.js"></script>
<script src="../assets/js/top.js"></script>
<script type="text/javascript" src="../assets/js/colorfulTab.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function(){
        
        $("#colorful").colorfulTab();    
        
        $("#colorful-elliptic").colorfulTab({
            theme: "elliptic"
        }); 
       
       $("#colorful-flatline").colorfulTab({
            theme: "flatline"
        });    
        
        $("#colorful-background-image").colorfulTab({
            theme: "flatline",
            backgroundImage: "true",
            overlayColor: "#2d3305",
            overlayOpacity: "0.8"
        });   
    
    });
  </script>