<nav class="navbar navbar-default navbar-fixed-top">
    
    <div class="container">
        <div class="navbar-header">
		    <a  id="navbar" class="nav navbar-nav navbar-left" href="home"><h1><span class="fa fa-flash" 
			aria-hidden="true"></span>Flash Couriers</h1></a>

		  	<button type="button" class="navbar-toggle collapsed" 
				  data-toggle="collapse" data-target="#navbar" aria-expanded="false" 
				  aria-controls="navbar">
			   	<span class="sr-only">Toggle navigation</span>
			  	<span class="icon-bar"></span>
			   	<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			
        </div>
        
        
     <div id="navbar" class="navbar-collapse collapse">
			    <ul class="nav navbar-nav navbar-right">
				<li><a href="home">Home</a></li>
				<li><a href="about">About</a></li>
				<li class="active"><a href="service">Services</a></li>
				<li><a href="work">Our Work</a></li>
				<li><a href="process">Process</a></li>
				<li><a href="contact">Contact</a></li>
				
				<li>
					<a href="login"> Login </a>
					
				</li>
			</ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<section class="banner-w3ls">
	<div class='header'>
		<div class="banner-w3layouts">
			<div class="container">
			    <img src="../assets/images/banner1-3.jpg" alt="" class="img-responsive">
		    </div>
		</div>
	</div>
</section>

<section class="inner-w3ls">
	<div class="container">
		<h2 class="text-center w3 w3l agileinfo wthree">Our Services</h2>
	</div>
</section>

<section class="service-w3ls">
	<div class="container">
		<i class="fa fa-braille" aria-hidden="true"></i>	
		<h3 class="text-center w3-agileits agileits-w3layouts agile w3-agile">Our Service Details</h3>
		<p class="text-center w3-agileits agileits-w3layouts agile w3-agile">We provide excellent and fast delivery to our customers and here's why.</p>
	</div>	
	<div class="container">
		<div class="col-lg-3 col-md-6 col-sm-6">	
			<ul class="ch-grid">
				<li>
					<div class="ch-item ch-img-1">				
						<div class="ch-info-wrap">
							<div class="ch-info">
								<div class="ch-info-front ch-img-1"></div>
								<div class="ch-info-back">
									<h3>Best In Delivery</h3>
								</div>	
							</div>
						</div>
					</div>
				</li>
			</ul>	
			<h5>Best In Delivery</h5>
			<p class="serv-p1">We provide delivery at the door step without any hassle and with live tracking.</p>
		</div>
		<div class="col-lg-3 col-md-6 col-sm-6">	
			<ul class="ch-grid">
				<li>
					<div class="ch-item ch-img-2">
						<div class="ch-info-wrap">
							<div class="ch-info">
								<div class="ch-info-front ch-img-2"></div>
								<div class="ch-info-back">
									<h3>Best in Packing</h3>
								</div>
							</div>
						</div>
					</div>
				</li>
			</ul>			
			<h5>Best In Packing</h5>	
			<p class="serv-p1">We provide the best package parcels giving guarantee of agile stuff and getting trusted by customers.</p>
		</div>	
		<div class="col-lg-3 col-md-6 col-sm-6">
			<ul class="ch-grid">
				<li>
					<div class="ch-item ch-img-3">
						<div class="ch-info-wrap">
							<div class="ch-info">
								<div class="ch-info-front ch-img-3"></div>
								<div class="ch-info-back">
									<h3>Best In Transport</h3>
								</div>
							</div>
						</div>
					</div>
				</li>
			</ul>
			<h5>Best In Transport</h5>
			<p class="serv-p1">We deliver through every transport whether it's rail or road or air or water.</p>	
		</div>
		<div class="col-lg-3 col-md-6 col-sm-6">
			<ul class="ch-grid">
				<li class="serv4">
					<div class="ch-item ch-img-4">
						<div class="ch-info-wrap">
							<div class="ch-info">
								<div class="ch-info-front ch-img-4"></div>
								<div class="ch-info-back">
									<h3>Best In Timing</h3>
								</div>
							</div>
						</div>
					</div>
				</li>	
			</ul>
			<h5>Best In Timing</h5>
			<p class="serv-p1">We have gone on record by never getting late and our punctuality is what we promise.</p>
		</div>
		<div class="clearfix"></div>
	</div>	
</section>
	

<!--footr section  -->
<section class="footer-agileits">
  <div class="container">
		<div class="col-lg-3 col-md-3 col-sm-6">
			<h3>More Info</h3>
			<ul class="info-links">
				<li><a href="about"><i class="fa fa-hand-o-right" aria-hidden="true"></i> About Us</a></li>
				<li><a href="contact"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Contact Us</a></li>
				
			</ul>
	  </div>
  
    <div class="col-lg-3 col-md-3 col-sm-6">
			<h3>Our Links</h3>
			<ul class="footer-links">
				<li><a href="service"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Our Services</a></li>
				<li><a href="work"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Our Work</a></li>
				<li><a href="process"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Process</a></li>
			</ul>
		</div>

    <div class="col-lg-3 col-md-3 col-sm-6">
			<h3>Contact Info</h3>
		
      	<div class="contact-info">
			  	<div class="address">	
					<i class="glyphicon glyphicon-globe"></i>
					<p class="p3">Dharmsinh Desai University</p>
					<p class="p4">Gujarat, India</p>
			  	</div>
				
          <div class="phone">
					 <i class="glyphicon glyphicon-phone-alt"></i>
					 <p class="p3">+91 8238108152</p>
					 <p class="p4">+91 9106671688</p>
				  </div>
				
          <div class="email-info">
					 <i class="glyphicon glyphicon-envelope"></i>
					 <p class="p5"><a href="mailto:myemail1@example.com">granthydesai@gmail.com</a></p> 
					 <p class="p6"><a href="mailto:myemail2@example.com">vivekgamit2233@gmail.com</a></p>
				  </div>
		</div>
	</div>  

    <div class="col-lg-3 col-md-3 col-sm-6">
			<h3>Subscribe Us</h3>
		 
      	<div class="subscribe">
			   <form action="#" method="post">
			 	
        	<div class="form-group">
						<input type="email" name="email2" class="form-control" id="inputEmail1" placeholder="Email">
					</div>
				
        	<div class="form-group">
						<input type="text" name="user" class="form-control" id="text1" placeholder="Your Name">
					</div>
				
        	<div class="form-group">
						<button type="submit" class="btn-outline">Subscribe</button>
					</div>
				
         </form>
			  </div>	
		    	<ul class="social-icons2">
				   <li><a href="#"><i class="fa fa-facebook"></i></a></li>
				   <li><a href="#"><i class="fa fa-twitter"></i></a></li>
				   <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
				   <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
			    </ul>
		</div>  

<a href="#0" class="cd-top">Top</a>

<script src="../assets/js/jquery.min.js"></script>
<script src="../assets/js/bootstrap.min.js"></script>
<script src="../assets/js/SmoothScroll.min.js"></script>
<script src="../assets/js/index.js"></script>
<script src="../assets/js/top.js"></script> 

