<nav class="navbar navbar-default navbar-fixed-top">
    
    <div class="container">
        <div class="navbar-header">
		    <a  id="navbar" class="nav navbar-nav navbar-left" href="home"><h1><span class="fa fa-flash" 
			aria-hidden="true"></span>Flash Couriers</h1></a>

		  	<button type="button" class="navbar-toggle collapsed" 
				  data-toggle="collapse" data-target="#navbar" aria-expanded="false" 
				  aria-controls="navbar">
			   	<span class="sr-only">Toggle navigation</span>
			  	<span class="icon-bar"></span>
			   	<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			
        </div>
        
        
     <div id="navbar" class="navbar-collapse collapse">
			    <ul class="nav navbar-nav navbar-right">
				<li><a href="home">Home</a></li>
				<li><a href="about">About</a></li>
				<li><a href="service">Services</a></li>
				<li class="active"><a href="work">Our Work</a></li>
				<li><a href="process">Process</a></li>
				<li><a href="contact">Contact</a></li>
				
				<li>
					<a href="login"> Login </a>
					
				</li>
			</ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<section class="inner-w3ls">
	<div class="container">
		<h2 class="text-center">Our Functioning</h2>
	</div>
</section>



  <div class="container">
		<i class="fa fa-braille" aria-hidden="true"></i>
		<h3 class="text-center">Our Work</h3>
		<p class="text-center">For the past 10 years we've been delivering through roads,air,rails and waters.</p>
  </div>

<section class="work-w3ls">
  <div class="gallery-grids">
		<div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
			<ul id="myTab" class="nav nav-tabs" role="tablist">
				<li role="presentation" class="active"><a href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">All</a></li>
				<li role="presentation"><a href="#road" role="tab" id="road-tab" data-toggle="tab" aria-controls="road">On-Road</a></li>
				<li role="presentation"><a href="#air" role="tab" id="air-tab" data-toggle="tab" aria-controls="air">Airways</a></li>
				<li role="presentation"><a href="#rail" role="tab" id="rail-tab" data-toggle="tab" aria-controls="rail">Railways</a></li>
				<li role="presentation"><a href="#sea" role="tab" id="sea-tab" data-toggle="tab" aria-controls="sea">Waterways</a></li>
			</ul>
			<div id="myTabContent" class="tab-content">
				<div role="tabpanel" class="tab-pane fade in active" id="home" 
                aria-labelledby="home-tab">
					<div class="tab_img">
						<div class="col-md-3 col-sm-6 col-xs-6 portfolio-grids">
							<a href="../assets/images/work1.jpg" class="lightninBox" data-lb-group="1">
								<img src="../assets/images/work1.jpg" class="img-responsive" alt="" />
								<div class="b-wrapper">
									<i class="fa fa-search-plus" aria-hidden="true"></i>
								</div>
							</a>
						</div>
            <div class="col-md-3 col-sm-6 col-xs-6 portfolio-grids">
							<a href="../assets/images/work2.jpg" class="lightninBox" data-lb-group="1">
								<img src="../assets/images/work2.jpg" class="img-responsive" alt=""/>
								<div class="b-wrapper">
									<i class="fa fa-search-plus" aria-hidden="true"></i>
								</div>
							</a>
						</div>
						<div class="col-md-3 col-sm-6 col-xs-6 portfolio-grids">
							<a href="../assets/images/work3.jpg" class="lightninBox" data-lb-group="1">
								<img src="../assets/images/work3.jpg" class="img-responsive" alt=""/>
								<div class="b-wrapper">
									<i class="fa fa-search-plus" aria-hidden="true"></i>
								</div>
							</a>
						</div>
						<div class="col-md-3 col-sm-6 col-xs-6 portfolio-grids">
							<a href="../assets/images/work4.jpg" class="lightninBox" data-lb-group="1">
								<img src="../assets/images/work4.jpg" class="img-responsive" alt=""/>
								<div class="b-wrapper">
									<i class="fa fa-search-plus" aria-hidden="true"></i>
								</div>
							</a>
						</div>
						<div class="clearfix"> </div>
					</div>

              <div class="tab_img">
						<div class="col-md-3 col-sm-6 col-xs-6 portfolio-grids">
							<a href="../assets/images/work5.jpg" class="lightninBox" data-lb-group="1">
								<img src="../assets/images/work5.jpg" class="img-responsive" alt=""/>
								<div class="b-wrapper">
									<i class="fa fa-search-plus" aria-hidden="true"></i>
								</div>
							</a>
						</div>
						<div class="col-md-3 col-sm-6 col-xs-6 portfolio-grids">
							<a href="../assets/images/work6.jpg" class="lightninBox" data-lb-group="1">
								<img src="../assets/images/work6.jpg" class="img-responsive" alt=""/>
								<div class="b-wrapper">
									<i class="fa fa-search-plus" aria-hidden="true"></i>
								</div>
							</a>
						</div>
						<div class="col-md-3 col-sm-6 col-xs-6 portfolio-grids">
							<a href="../assets/images/work7.jpg" class="lightninBox" data-lb-group="1">
								<img src="../assets/images/work7.jpg" class="img-responsive" alt=""/>
								<div class="b-wrapper">
									<i class="fa fa-search-plus" aria-hidden="true"></i>
								</div>
							</a>
						</div>
						<div class="col-md-3 col-sm-6 col-xs-6 portfolio-grids">
							<a href="../assets/images/work8.jpg" class="lightninBox" data-lb-group="1">
								<img src="../assets/images/work8.jpg" class="img-responsive" alt=""/>
								<div class="b-wrapper">
									<i class="fa fa-search-plus" aria-hidden="true"></i>
								</div>
							</a>
						</div>
						<div class="col-md-3 col-sm-6 col-xs-6 portfolio-grids">
							<a href="../assets/images/work9.jpg" class="lightninBox" data-lb-group="1">
								<img src="../assets/images/work9.jpg" class="img-responsive" alt=""/>
								<div class="b-wrapper">
									<i class="fa fa-search-plus" aria-hidden="true"></i>
								</div>
							</a>
						</div>
						<div class="col-md-3 col-sm-6 col-xs-6 portfolio-grids">
							<a href="../assets/images/work10.jpg" class="lightninBox" data-lb-group="1">
								<img src="../assets/images/work10.jpg" class="img-responsive" alt=""/>
								<div class="b-wrapper">
									<i class="fa fa-search-plus" aria-hidden="true"></i>
								</div>
							</a>
						</div>
						<div class="col-md-3 col-sm-6 col-xs-6 portfolio-grids">
							<a href="../assets/images/work11.jpg" class="lightninBox" data-lb-group="1">
								<img src="../assets/images/work11.jpg" class="img-responsive" alt=""/>
								<div class="b-wrapper">
									<i class="fa fa-search-plus" aria-hidden="true"></i>
								</div>
							</a>
						</div>
						<div class="col-md-3 col-sm-6 col-xs-6 portfolio-grids">
							<a href="../assets/images/work12.jpg" class="lightninBox" data-lb-group="1">
								<img src="../assets/images/work12.jpg" class="img-responsive" alt=""/>
								<div class="b-wrapper">
									<i class="fa fa-search-plus" aria-hidden="true"></i>
								</div>
							</a>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
				<div role="tabpanel" class="tab-pane fade" id="road" aria-labelledby="road-tab">
					<div class="tab_img">
						<div class="col-md-3 col-sm-6 col-xs-6 portfolio-grids">
							<a href="../assets/images/work2.jpg" class="lightninBox" data-lb-group="2">
								<img src="../assets/images/work2.jpg" class="img-responsive zoom-img" alt=""/>
								<div class="b-wrapper">
									<i class="fa fa-search-plus" aria-hidden="true"></i>
								</div>
							</a>
						</div>
						<div class="col-md-3 col-sm-6 col-xs-6 portfolio-grids">
							<a href="../assets/images/work7.jpg" class="lightninBox" data-lb-group="2">
								<img src="../assets/images/work7.jpg" class="img-responsive zoom-img" alt=""/>
								<div class="b-wrapper">
									<i class="fa fa-search-plus" aria-hidden="true"></i>
								</div>
							</a>
						</div>
						<div class="col-md-3 col-sm-6 col-xs-6 portfolio-grids">
							<a href="../assets/images/work9.jpg" class="lightninBox" data-lb-group="2">
								<img src="../assets/images/work9.jpg" class="img-responsive zoom-img" alt=""/>
								<div class="b-wrapper">
									<i class="fa fa-search-plus" aria-hidden="true"></i>
								</div>
							</a>
						</div>
						<div class="clearfix"> </div>
					</div>	
				</div>
 
               <div role="tabpanel" class="tab-pane fade" id="air" aria-labelledby="air-tab">
					<div class="tab_img">
						<div class="col-md-3 col-sm-6 col-xs-6 portfolio-grids">
							<a href="../assets/images/work1.jpg" class="lightninBox" data-lb-group="3">
								<img src="../assets/images/work1.jpg" class="img-responsive zoom-img" alt=""/>
								<div class="b-wrapper">
									<i class="fa fa-search-plus" aria-hidden="true"></i>
								</div>
							</a>
						</div>
						<div class="col-md-3 col-sm-6 col-xs-6 portfolio-grids">
							<a href="../assets/images/work4.jpg" class="lightninBox" data-lb-group="3">
								<img src="../assets/images/work4.jpg" class="img-responsive zoom-img" alt=""/>
								<div class="b-wrapper">
									<i class="fa fa-search-plus" aria-hidden="true"></i>
								</div>
							</a>
						</div>
						<div class="col-md-3 col-sm-6 col-xs-6 portfolio-grids">
							<a href="../assets/images/work5.jpg" class="lightninBox" data-lb-group="3">
								<img src="../assets/images/work5.jpg" class="img-responsive zoom-img" alt=""/>
								<div class="b-wrapper">
									<i class="fa fa-search-plus" aria-hidden="true"></i>
								</div>
							</a>
						</div>
						<div class="clearfix"> </div>
					</div>	
				</div>
				<div role="tabpanel" class="tab-pane fade" id="rail" aria-labelledby="rail-tab">
					<div class="tab_img">
						<div class="col-md-3 col-sm-6 col-xs-6 portfolio-grids">
							<a href="../assets/images/work3.jpg" class="lightninBox" data-lb-group="4">
								<img src="../assets/images/work3.jpg" class="img-responsive zoom-img" alt=""/>
								<div class="b-wrapper">
									<i class="fa fa-search-plus" aria-hidden="true"></i>
								</div>
							</a>
						</div>
						<div class="col-md-3 col-sm-6 col-xs-6 portfolio-grids">
							<a href="../assets/images/work11.jpg" class="lightninBox" data-lb-group="4">
								<img src="../assets/images/work11.jpg" class="img-responsive zoom-img" alt=""/>
								<div class="b-wrapper">
									<i class="fa fa-search-plus" aria-hidden="true"></i>
								</div>
							</a>
						</div>
						<div class="col-md-3 col-sm-6 col-xs-6 portfolio-grids">
							<a href="../assets/images/work12.jpg" class="lightninBox" data-lb-group="4">
								<img src="../assets/images/work12.jpg" class="img-responsive zoom-img" alt=""/>
								<div class="b-wrapper">
									<i class="fa fa-search-plus" aria-hidden="true"></i>
								</div>
							</a>
						</div>
						<div class="clearfix"> </div>
					</div>	
				</div>
				<div role="tabpanel" class="tab-pane fade" id="sea" aria-labelledby="sea-tab">
					<div class="tab_img">
						<div class="col-md-3 col-sm-6 col-xs-6 portfolio-grids">
							<a href="../assets/images/work6.jpg" class="lightninBox" data-lb-group="5">
								<img src="../assets/images/work6.jpg" class="img-responsive zoom-img" alt=""/>
								<div class="b-wrapper">
									<i class="fa fa-search-plus" aria-hidden="true"></i>
								</div>
							</a>
						</div>
						<div class="col-md-3 col-sm-6 col-xs-6 portfolio-grids">
							<a href="../assets/images/work8.jpg" class="lightninBox" data-lb-group="5">
								<img src="../assets/images/work8.jpg" class="img-responsive zoom-img" alt=""/>
								<div class="b-wrapper">
									<i class="fa fa-search-plus" aria-hidden="true"></i>
								</div>
							</a>
						</div>
						<div class="col-md-3 col-sm-6 col-xs-6 portfolio-grids">
							<a href="../assets/images/work10.jpg" class="lightninBox" data-lb-group="5">
								<img src="../assets/images/work10.jpg" class="img-responsive zoom-img" alt=""/>
								<div class="b-wrapper">
									<i class="fa fa-search-plus" aria-hidden="true"></i>
								</div>
							</a>
						</div>
						<div class="clearfix"> </div>
					</div>	
				</div>
			</div>
		</div>
	</div>
</section>

 <!--footr section  -->
<section class="footer-agileits">
  <div class="container">
		<div class="col-lg-3 col-md-3 col-sm-6">
			<h3>More Info</h3>
			<ul class="info-links">
				<li><a href="about"><i class="fa fa-hand-o-right" aria-hidden="true"></i> About Us</a></li>
				<li><a href="contact"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Contact Us</a></li>
				
			</ul>
	  </div>
  
    <div class="col-lg-3 col-md-3 col-sm-6">
			<h3>Our Links</h3>
			<ul class="footer-links">
				<li><a href="service"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Our Services</a></li>
				<li><a href="work"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Our Work</a></li>
				<li><a href="process"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Process</a></li>
			</ul>
		</div>

    <div class="col-lg-3 col-md-3 col-sm-6">
			<h3>Contact Info</h3>
		
      	<div class="contact-info">
			  	<div class="address">	
					<i class="glyphicon glyphicon-globe"></i>
					<p class="p3">Dharmsinh Desai University</p>
					<p class="p4">Gujarat, India</p>
			  	</div>
				
          <div class="phone">
					 <i class="glyphicon glyphicon-phone-alt"></i>
					 <p class="p3">+91 8238108152</p>
					 <p class="p4">+91 9106671688</p>
				  </div>
				
          <div class="email-info">
					 <i class="glyphicon glyphicon-envelope"></i>
					 <p class="p5"><a href="mailto:myemail1@example.com">granthydesai@gmail.com</a></p> 
					 <p class="p6"><a href="mailto:myemail2@example.com">vivekgamit2233@gmail.com</a></p>
				  </div>
		</div>
	</div>  

    <div class="col-lg-3 col-md-3 col-sm-6">
			<h3>Subscribe Us</h3>
		 
      	<div class="subscribe">
			   <form action="#" method="post">
			 	
        	<div class="form-group">
						<input type="email" name="email2" class="form-control" id="inputEmail1" placeholder="Email">
					</div>
				
        	<div class="form-group">
						<input type="text" name="user" class="form-control" id="text1" placeholder="Your Name">
					</div>
				
        	<div class="form-group">
						<button type="submit" class="btn-outline">Subscribe</button>
					</div>
				
         </form>
			  </div>	
		    	<ul class="social-icons2">
				   <li><a href="#"><i class="fa fa-facebook"></i></a></li>
				   <li><a href="#"><i class="fa fa-twitter"></i></a></li>
				   <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
				   <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
			    </ul>
		</div>  


<a href="#0" class="cd-top">Top</a>

<script src="../assets/js/jquery.min.js"></script>
<script src="../assets/js/bootstrap.min.js"></script>
<script src="../assets/js/index.js"></script>
<script src="../assets/js/top.js"></script>
<script src="../assets/js/jqBootstrapValidation.js"></script>
<script src="../assets/js/contact_me.js"></script>
<script src="../assets/js/jQuery.lightninBox.js"></script>
<script type="text/javascript">
	$(".lightninBox").lightninBox();
</script>
