
<nav class="navbar navbar-default navbar-fixed-top">
    
    <div class="container">
        <div class="navbar-header">
		    <a  id="navbar" class="nav navbar-nav navbar-left" href="home"><h1><span class="fa fa-flash" 
			aria-hidden="true"></span>Flash Couriers</h1></a>

		  	<button type="button" class="navbar-toggle collapsed" 
				  data-toggle="collapse" data-target="#navbar" aria-expanded="false" 
				  aria-controls="navbar">
			   	<span class="sr-only">Toggle navigation</span>
			  	<span class="icon-bar"></span>
			   	<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			
        </div>
        
        
     <div id="navbar" class="navbar-collapse collapse">
			    <ul class="nav navbar-nav navbar-right">
				<li class="active"><a href="home">Home</a></li>
				<li><a href="about">About</a></li>
				<li><a href="service">Services</a></li>
				<li><a href="work">Our Work</a></li>
				<li><a href="process">Process</a></li>
				<li><a href="contact">Contact</a></li>
				
				<li>
					<a href="login"> Login </a>
					
				</li>
			</ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<section class="banner-w3ls">
	<div class='header'>
		<div class="banner-w3layouts">
			<div class="container">
			    <img src="../assets/images/banner1-1.jpg" alt="" class="img-responsive">
		    </div>
		</div>
	</div>
</section>



<!-- specialization section-->
<section class="special-w3layouts">
	
  <div class="container">
		<h3 class="text-center wthree w3-agileits">Our Specialities</h3>
		<div class="col-lg-3 col-md-3 col-sm-6">
			<img src="../assets/images/eye.png" alt="" class="img-responsive">
			<h4 class="text-center">Automated Tracking</h4>
			<p class="special-p1">We provide automated and accurate tracking of couriers.</p>
		</div>
	
  	<div class="col-lg-3 col-md-3 col-sm-6">
			<img src="../assets/images/monitor.png" alt="" class="img-responsive">
			<h4 class="text-center">Tracking API</h4>
			<p class="special-p1">We provide unique APIs for each courier to avoid hassle.</p>
		</div>
	
  	<div class="col-lg-3 col-md-3 col-sm-6">
			<img src="../assets/images/shop.png" alt="" class="img-responsive">
			<h4 class="text-center">Ecommerce Integration</h4>
			<p class="special-p1">Each day we bring in new upgrades to keep up with the user requirements.</p>
		</div>
	
  	<div class="col-lg-3 col-md-3 col-sm-6">
			<img src="../assets/images/truck.png" alt="" class="img-responsive">
			<h4 class="text-center">Delivered In Time</h4>
			<p class="special-p1">We are known for our punctuality.</p>
		</div>
		<div class="clearfix"></div>
	</div>
</section>
<!-- second banner & onwords banners-->
<section class="banner-w3ls2">
	<div class="container">
		<h3 class="text-center agileits-w3layouts agile w3-agile">Giving The Best Solutions</h3>
	</div>
</section>



<section class="info-w3ls2">
	<div class="container">
		<i class="fa fa-trophy" aria-hidden="true"></i>
		<h3 class="text-center agileits-w3layouts agile w3-agile">Always Delivering Best Of Our Services</h3>
	</div>
</section>


<section class="banner-w3ls3">
	<div class="container">
		<h3 class="text-center">Making Our Customers Satisfied</h3>
	</div>
</section>


<section class="info-w3ls3">
	<div class="container">
		<i class="fa fa-smile-o" aria-hidden="true"></i>
		<h3 class="text-center">Making Our Customers Happy :)</h3>
	</div>
</section>
 
 <!--footr section  -->
<section class="footer-agileits">
  <div class="container">
		<div class="col-lg-3 col-md-3 col-sm-6">
			<h3>More Info</h3>
			<ul class="info-links">
				<li><a href="about"><i class="fa fa-hand-o-right" aria-hidden="true"></i> About Us</a></li>
				<li><a href="contact"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Contact Us</a></li>
				
			</ul>
	  </div>
  
    <div class="col-lg-3 col-md-3 col-sm-6">
			<h3>Our Links</h3>
			<ul class="footer-links">
				<li><a href="service"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Our Services</a></li>
				<li><a href="work"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Our Work</a></li>
				<li><a href="process"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Process</a></li>
			</ul>
		</div>

    <div class="col-lg-3 col-md-3 col-sm-6">
			<h3>Contact Info</h3>
		
      	<div class="contact-info">
			  	<div class="address">	
					<i class="glyphicon glyphicon-globe"></i>
					<p class="p3">Dharmsinh Desai University</p>
					<p class="p4">Gujarat, India</p>
			  	</div>
				
          <div class="phone">
					 <i class="glyphicon glyphicon-phone-alt"></i>
					 <p class="p3">+91 8238108152</p>
					 <p class="p4">+91 9106671688</p>
				  </div>
				
          <div class="email-info">
					 <i class="glyphicon glyphicon-envelope"></i>
					 <p class="p5"><a href="mailto:myemail1@example.com">granthydesai@gmail.com</a></p> 
					 <p class="p6"><a href="mailto:myemail2@example.com">vivekgamit2233@gmail.com</a></p>
				  </div>
		</div>
	</div>  

    <div class="col-lg-3 col-md-3 col-sm-6">
			<h3>Subscribe Us</h3>
		 
      	<div class="subscribe">
			   <form action="#" method="post">
			 	
        	<div class="form-group">
						<input type="email" name="email2" class="form-control" id="inputEmail1" placeholder="Email">
					</div>
				
        	<div class="form-group">
						<input type="text" name="user" class="form-control" id="text1" placeholder="Your Name">
					</div>
				
        	<div class="form-group">
						<button type="submit" class="btn-outline">Subscribe</button>
					</div>
				
         </form>
			  </div>	
		    	<ul class="social-icons2">
				   <li><a href="#"><i class="fa fa-facebook"></i></a></li>
				   <li><a href="#"><i class="fa fa-twitter"></i></a></li>
				   <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
				   <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
			    </ul>
		</div>  

<a class="cd-top">	</a>	
<script src="../assets/js/jquery.min.js"></script>
<script src="../assets/js/bootstrap.min.js"></script>
<script src="../assets/js/SmoothScroll.min.js"></script>
<script src="../assets/js/index.js"></script>
<script src="../assets/js/top.js"></script> 
<script src="../assets/js/bgfader.js"></script>
<script>
var myBgFader = $('.header').bgfader([
  '../assets/images/banner1-1.jpg',
  '../assets/images/banner1-2.jpg',
  '../assets/images/banner1-3.jpg',
  '../assets/images/banner1-4.jpg',
], {
  'timeout': 2000,
  'speed': 3000,
  'opacity': 0.4
})

myBgFader.start()
</script>




